.box{
	height: 
}
.image-height{
	height: 200px
}

.comment {
    margin: 20px 0px 20px 20px;
}
.class-rply{
	padding-top: 60px;
}
.my_text {
	margin-left: 101px;
	margin-right: 200px;
	height: 88px;
	width: 300px;
}