{% extends 'blogapp/base.html' %}

	{% block content %}
    <h1>New comment</h1>

        <div class="container">
			<div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form method="POST" class="post-form">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-default">Send</button>
                    </form>
                  </div>
                 <div class="col-sm-2"></div>
            </div>
        </div>
{% endblock %}