{% extends 'blogapp/base.html' %}

	{% block content %}


	<section class="blog-area section">
		<div class="container">

		    <div class="text-center py-3">
        <ul class="list-unstyled list-inline mb-0">

                <li class="list-inline-item">
                    <h5 class="mb-1">Link Send to your mail...</h5>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'log_in' %}" class="btn btn-danger btn-rounded"></a>
                </li>

        </ul>
    </div>


			</div>
		</div>
	</section>
{% endblock %}
























	<!--fields = ('title', 'author','caption','text','img')