{% extends 'blogapp/base.html' %}

	{% block content %}

<div class="container">
    <div class="col-sm-4" align="left"></div>
    <div class="col-sm-4" align="left">
            <h2>Login</h2>
            <form method="post" novalidate>
              {% csrf_token %}
                {{ form.as_p }}
              <button type="submit">Login</button><br>
                <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></br>
                <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
            </form>
    </div>
</div>

{% endblock %}